MiniChallenge-Parenthings-6.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
MiniChallenge-Parenthings-6.xcodeproj/project.xcworkspace/xcuserdata/celinemargaretha.xcuserdatad/UserInterfaceState.xcuserstate
MiniChallenge-Parenthings-6.xcodeproj/project.xcworkspace/xcuserdata/celinemargaretha.xcuserdatad/UserInterfaceState.xcuserstate

*.DS_Store

